{% extends "dashboard/base.html" %}
{% load static %}
{% block css %}
<style>
  .django-ckeditor-widget{
    width: 100%;
  }
</style>

<link href="{% static "django_ckeditor_5/dist/styles.css" %}" rel="stylesheet" media="all">
<script src="{% static "django_ckeditor_5/dist/bundle.js" %}"></script>
{% endblock  %}
{% block content %}
<div class="row mt-4">
  <div class="col-lg-12 col-12 mx-auto position-relative">
    <div class="card">  
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow text-center border-radius-xl mt-n4 me-3 float-start">
          <i class="material-icons opacity-10">interests</i>
        </div>
        <h6 class="mb-0">Form Artikel</h6>
      </div>
      <div class="card-body pt-2">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group input-group-dynamic mb-4 {% if 'update' in request.path %}is-filled{% endif %}">
              <label class="form-label">Judul Artikel</label>
              {{ forms.judul }}
          </div>
          <div class="input-group input-group-static mb-4 {% if 'update' in request.path %}is-filled{% endif %}">
              <label class="ms-0">Konten Artikel</label>
              {{ forms.konten }}
          </div>
          <div class="mb-4 {% if 'update' in request.path %}is-filled{% endif %}">
              <label for="id_gambar" class="form-label">Gambar</label>
              <div class="mt-2">
                  {{ forms.gambar }}
              </div>
          </div>      
          <div class="input-group input-group-static mb-4 {% if 'update' in request.path %}is-filled{% endif %}">
              <label class="ms-0">Kategori</label>
              {{ forms.kategori }}
          </div>
          <div class="form-check input-group-dynamic mb-4 {% if 'update' in request.path %}is-filled{% endif %}">
              Status &nbsp {{ forms.status }}
          </div>
          <div class="d-flex justify-content-end mt-4">
              <button type="submit" name="button" class="btn bg-gradient-dark m-0 ms-2">Simpan</button>
          </div>
      </form>      
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'dashboard/assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/plugins/quill.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/plugins/flatpickr.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/plugins/dropzone.min.js' %}"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var kontenTextarea = document.getElementById('id_konten');
        if (kontenTextarea) {
            kontenTextarea.removeAttribute('required');  // Menghapus atribut 'required'
        }
    });

  if (document.getElementById('choices-multiple-remove-button')) {
    var element = document.getElementById('choices-multiple-remove-button');
    const example = new Choices(element, {
      removeItemButton: true
    });

    example.setChoices(
      [{
          value: 'One',
          label: 'Label One',
          disabled: true
        },
        {
          value: 'Two',
          label: 'Label Two',
          selected: true
        },
        {
          value: 'Three',
          label: 'Label Three'
        },
      ],
      'value',
      'label',
      false,
    );
  }

  if (document.querySelector('.datetimepicker')) {
    flatpickr('.datetimepicker', {
      allowInput: true
    }); // flatpickr
  }
</script>

{% endblock  %}