{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="row mt-4">
        <div class="col-12">
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Daftar Kategori</h5> 
              <a class="btn btn-success px-3 py-2" href="{% url 'admin_kategori_tambah' %}"><i class="material-icons">add</i> Tambah</a>
            </div>
            </div>
            <div class="table-responsive">
              <table class="table table-flush" id="datatable-search">
                <thead class="thead-light">
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Created at</th>
                    <th>Created by</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for kat in kategori %}
                  <tr>
                    <td class="text-sm font-weight-normal">{{forloop.counter}}</td>
                    <td class="text-sm font-weight-normal">{{kat.nama}}</td>
                    <td class="text-sm font-weight-normal">{{kat.created_at}}</td>
                    <td class="text-sm font-weight-normal">{{kat.created_by}}</td>
                    <td class="text-sm font-weight-normal text-center">
                      <a class="btn btn-warning px-3 py-2" href="{% url 'admin_kategori_update' kat.id %}"><i class="material-icons">edit_note</i> Edit</a>
                      <a class="btn btn-danger px-3 py-2" onClick="return confirm('Yakin ingin menghapus?')" href="{% url 'admin_kategori_delete' kat.id %}"><i class="material-icons">delete</i> Hapus</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock  %}

{% block js %}
  <script src="{% static 'dashboard/assets/js/plugins/datatables.js' %}"></script>
  <script>
    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
      searchable: true,
      fixedHeight: true
    });
  </script>
{% endblock %}