{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <!-- Card header -->
      <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Daftar Artikel Anda</h5> 
        <a class="btn btn-success px-3 py-2" href="{% url 'artikel_tambah' %}"><i class="material-icons">add</i> Tambah</a>
      </div>
      </div>
      <div class="table-responsive">
        <table class="table table-flush" id="datatable-search">
          <thead class="thead-light">
            <tr>
              <th>No</th>
              <th>Judul</th>
              <th>Kategori</th>
              <th>Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for a in artikel %}
            <tr>
              <td class="text-sm font-weight-normal">{{forloop.counter}}</td>
              <td class="text-sm font-weight-normal">{{a.judul}}</td>
              <td class="text-sm font-weight-normal">{{a.kategori}}</td>
              <td class="text-sm font-weight-normal">{{a.status}}</td>
              <td class="text-sm font-weight-normal text-center">
                <a class="btn btn-warning px-3 py-2" href="{% url 'artikel_update' a.id %}"><i class="material-icons">edit_note</i> Edit</a>
                <a class="btn btn-danger px-3 py-2" onClick="return confirm('Yakin ingin menghapus?')" href="{% url 'artikel_delete' a.id %}"><i class="material-icons">delete</i> Hapus</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

{% block js %}
  <script src="{% static 'dashboard/assets/js/plugins/datatables.js' %}"></script>
  <script>
    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
      searchable: true,
      fixedHeight: true
    });
  </script>
{% endblock %}